In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
dataset = pd.read_csv('/Users/aditya/Library/CloudStorage/OneDrive-Personal/AIR OneDrive/GenAI/ANN Churn Classification/Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Dependent feature - Estimated Salary

# Preprocess the data
dataset = dataset.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# Encode Categorical Variables
label_encoder_gender = LabelEncoder()
dataset['Gender'] = label_encoder_gender.fit_transform(dataset['Gender'])

dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [6]:
label_encoder_geography = OneHotEncoder()
geography_encoder = label_encoder_geography.fit_transform(dataset[['Geography']])
geography_encoded_df = pd.DataFrame(geography_encoder.toarray(), columns = label_encoder_geography.get_feature_names_out())

In [7]:
# Drop the Geography column from dataset
dataset = dataset.drop(['Geography'], axis = 1)

# Merge all columns
dataset = pd.concat([dataset, geography_encoded_df], axis = 1)

dataset.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Gender             10000 non-null  int64
 2   Age                10000 non-null  int64
 3   Tenure             10000 non-null  int64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  int64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Exited             10000 non-null  int64
 10  Geography_France   10000 non-null  float64
 11  Geography_Germany  10000 non-null  float64
 12  Geography_Spain    10000 non-null  float64
dtypes: float64(5), int64(8)
memory usage: 1015.8 KB

In [9]:
# Splitting the dataset into features and target
X = dataset.drop('EstimatedSalary', axis = 1)
y = dataset['EstimatedSalary']

# Split into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=7)

# Scaling the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [10]:
# Save the enbcoder and scaler for future use (Needed as this will deployed as streamlit web app)

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('label_encoder_geography.pkl', 'wb') as file:
    pickle.dump(label_encoder_geography,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [12]:
# Building ANN Model
model = Sequential ([
    Dense(64, activation = 'relu', input_shape=(X_train.shape[1],)), #Hidden Layer 1 with input layer - i/p layer only needed for hidden layer as its connnecting the input
    Dense(32, activation = 'relu'), # Hidden layer 2
    Dense(1) # Output layer - regression Activiation function will be used by default as it is a regression problem
]
)

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# For performing forward and backward propagation, compile the model
opt = tf.keras.optimizers.Adam(learning_rate=0.001)
loss = tf.keras.losses.mean_absolute_error

model.compile(optimizer = opt, loss = loss, metrics=['mae'])

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [14]:
# Setup Tensorboard - To Capture and visualise the logs
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S") #Creating the directory
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [15]:
#Set EarlyStopping - To avoid unnecessary training of model(epochs) Will stop when there is less improvement in the model and loss is not reducing by much (based on set values)
early_stopping = EarlyStopping(monitor = 'val_loss', patience=10, restore_best_weights=True)

In [16]:
# Training the model
history = model.fit(
    X_train, 
    y_train, 
    validation_data = (X_test,y_test), 
    epochs=100,
    callbacks = [tensorflow_callback, early_stopping]
)

Epoch 1/100
250/250 [==============================] - 0s 668us/step - loss: 100060.2422 - mae: 100060.2422 - val_loss: 99820.6484 - val_mae: 99820.6484
Epoch 2/100
250/250 [==============================] - 0s 414us/step - loss: 99309.0781 - mae: 99309.0781 - val_loss: 98247.8516 - val_mae: 98247.8516
Epoch 3/100
250/250 [==============================] - 0s 416us/step - loss: 96547.6484 - mae: 96547.6484 - val_loss: 94103.9219 - val_mae: 94103.9219
Epoch 4/100
250/250 [==============================] - 0s 417us/step - loss: 91058.1953 - mae: 91058.1953 - val_loss: 87198.4062 - val_mae: 87198.4062
Epoch 5/100
250/250 [==============================] - 0s 411us/step - loss: 83105.0234 - mae: 83105.0234 - val_loss: 78242.4609 - val_mae: 78242.4609
Epoch 6/100
250/250 [==============================] - 0s 414us/step - loss: 73923.5469 - mae: 73923.5469 - val_loss: 69064.7969 - val_mae: 69064.7969
Epoch 7/100
250/250 [==============================] - 0s 407us/step - loss: 65128.9492 - mae: 65128.9492 - val_loss: 61150.9453 - val_mae: 61150.9453
Epoch 8/100
250/250 [==============================] - 0s 407us/step - loss: 58272.5000 - mae: 58272.5000 - val_loss: 55691.9258 - val_mae: 55691.9258
Epoch 9/100
250/250 [==============================] - 0s 408us/step - loss: 53891.9648 - mae: 53891.9648 - val_loss: 52677.2812 - val_mae: 52677.2812
Epoch 10/100
250/250 [==============================] - 0s 408us/step - loss: 51690.4688 - mae: 51690.4688 - val_loss: 51297.0703 - val_mae: 51297.0703
Epoch 11/100
250/250 [==============================] - 0s 413us/step - loss: 50796.1602 - mae: 50796.1602 - val_loss: 50812.2969 - val_mae: 50812.2969
Epoch 12/100
250/250 [==============================] - 0s 407us/step - loss: 50462.6641 - mae: 50462.6641 - val_loss: 50630.9844 - val_mae: 50630.9844
Epoch 13/100
250/250 [==============================] - 0s 405us/step - loss: 50312.2969 - mae: 50312.2969 - val_loss: 50552.6523 - val_mae: 50552.6523
Epoch 14/100
250/250 [==============================] - 0s 409us/step - loss: 50225.2891 - mae: 50225.2891 - val_loss: 50494.4531 - val_mae: 50494.4531
Epoch 15/100
250/250 [==============================] - 0s 404us/step - loss: 50161.7969 - mae: 50161.7969 - val_loss: 50441.1719 - val_mae: 50441.1719
Epoch 16/100
250/250 [==============================] - 0s 409us/step - loss: 50116.9453 - mae: 50116.9453 - val_loss: 50393.1875 - val_mae: 50393.1875
Epoch 17/100
250/250 [==============================] - 0s 402us/step - loss: 50082.2891 - mae: 50082.2891 - val_loss: 50346.1953 - val_mae: 50346.1953
Epoch 18/100
250/250 [==============================] - 0s 409us/step - loss: 50042.9688 - mae: 50042.9688 - val_loss: 50307.6016 - val_mae: 50307.6016
Epoch 19/100
250/250 [==============================] - 0s 404us/step - loss: 50013.0312 - mae: 50013.0312 - val_loss: 50273.6719 - val_mae: 50273.6719
Epoch 20/100
250/250 [==============================] - 0s 400us/step - loss: 49985.7695 - mae: 49985.7695 - val_loss: 50238.0039 - val_mae: 50238.0039
Epoch 21/100
250/250 [==============================] - 0s 404us/step - loss: 49959.6133 - mae: 49959.6133 - val_loss: 50205.2891 - val_mae: 50205.2891
Epoch 22/100
250/250 [==============================] - 0s 401us/step - loss: 49934.1445 - mae: 49934.1445 - val_loss: 50180.8594 - val_mae: 50180.8594
Epoch 23/100
250/250 [==============================] - 0s 398us/step - loss: 49918.9141 - mae: 49918.9141 - val_loss: 50149.6484 - val_mae: 50149.6484
Epoch 24/100
250/250 [==============================] - 0s 404us/step - loss: 49896.0781 - mae: 49896.0781 - val_loss: 50123.8594 - val_mae: 50123.8594
Epoch 25/100
250/250 [==============================] - 0s 434us/step - loss: 49879.9688 - mae: 49879.9688 - val_loss: 50102.3203 - val_mae: 50102.3203
Epoch 26/100
250/250 [==============================] - 0s 403us/step - loss: 49860.8633 - mae: 49860.8633 - val_loss: 50078.5000 - val_mae: 50078.5000
Epoch 27/100
250/250 [==============================] - 0s 405us/step - loss: 49843.6602 - mae: 49843.6602 - val_loss: 50058.3516 - val_mae: 50058.3516
Epoch 28/100
250/250 [==============================] - 0s 400us/step - loss: 49829.9453 - mae: 49829.9453 - val_loss: 50040.6016 - val_mae: 50040.6016
Epoch 29/100
250/250 [==============================] - 0s 404us/step - loss: 49817.5703 - mae: 49817.5703 - val_loss: 50020.6797 - val_mae: 50020.6797
Epoch 30/100
250/250 [==============================] - 0s 407us/step - loss: 49803.8984 - mae: 49803.8984 - val_loss: 50004.0156 - val_mae: 50004.0156
Epoch 31/100
250/250 [==============================] - 0s 406us/step - loss: 49791.2461 - mae: 49791.2461 - val_loss: 49983.1211 - val_mae: 49983.1211
Epoch 32/100
250/250 [==============================] - 0s 405us/step - loss: 49778.9414 - mae: 49778.9414 - val_loss: 49970.6055 - val_mae: 49970.6055
Epoch 33/100
250/250 [==============================] - 0s 414us/step - loss: 49766.6367 - mae: 49766.6367 - val_loss: 49955.0742 - val_mae: 49955.0742
Epoch 34/100
250/250 [==============================] - 0s 423us/step - loss: 49758.2227 - mae: 49758.2227 - val_loss: 49946.3008 - val_mae: 49946.3008
Epoch 35/100
250/250 [==============================] - 0s 414us/step - loss: 49752.6172 - mae: 49752.6172 - val_loss: 49932.6953 - val_mae: 49932.6953
Epoch 36/100
250/250 [==============================] - 0s 404us/step - loss: 49742.1094 - mae: 49742.1094 - val_loss: 49923.8711 - val_mae: 49923.8711
Epoch 37/100
250/250 [==============================] - 0s 406us/step - loss: 49732.7930 - mae: 49732.7930 - val_loss: 49909.6680 - val_mae: 49909.6680
Epoch 38/100
250/250 [==============================] - 0s 404us/step - loss: 49723.9492 - mae: 49723.9492 - val_loss: 49894.9531 - val_mae: 49894.9531
Epoch 39/100
250/250 [==============================] - 0s 404us/step - loss: 49715.8828 - mae: 49715.8828 - val_loss: 49887.0234 - val_mae: 49887.0234
Epoch 40/100
250/250 [==============================] - 0s 403us/step - loss: 49707.8086 - mae: 49707.8086 - val_loss: 49869.5781 - val_mae: 49869.5781
Epoch 41/100
250/250 [==============================] - 0s 407us/step - loss: 49701.7539 - mae: 49701.7539 - val_loss: 49866.3203 - val_mae: 49866.3203
Epoch 42/100
250/250 [==============================] - 0s 402us/step - loss: 49696.9883 - mae: 49696.9883 - val_loss: 49847.1641 - val_mae: 49847.1641
Epoch 43/100
250/250 [==============================] - 0s 407us/step - loss: 49688.7070 - mae: 49688.7070 - val_loss: 49842.7773 - val_mae: 49842.7773
Epoch 44/100
250/250 [==============================] - 0s 401us/step - loss: 49683.0625 - mae: 49683.0625 - val_loss: 49831.0859 - val_mae: 49831.0859
Epoch 45/100
250/250 [==============================] - 0s 405us/step - loss: 49677.5312 - mae: 49677.5312 - val_loss: 49818.7070 - val_mae: 49818.7070
Epoch 46/100
250/250 [==============================] - 0s 404us/step - loss: 49670.4805 - mae: 49670.4805 - val_loss: 49811.4375 - val_mae: 49811.4375
Epoch 47/100
250/250 [==============================] - 0s 408us/step - loss: 49663.1094 - mae: 49663.1094 - val_loss: 49800.6094 - val_mae: 49800.6094
Epoch 48/100
250/250 [==============================] - 0s 401us/step - loss: 49655.8164 - mae: 49655.8164 - val_loss: 49795.8164 - val_mae: 49795.8164
Epoch 49/100
250/250 [==============================] - 0s 404us/step - loss: 49652.3672 - mae: 49652.3672 - val_loss: 49792.1289 - val_mae: 49792.1289
Epoch 50/100
250/250 [==============================] - 0s 402us/step - loss: 49650.3203 - mae: 49650.3203 - val_loss: 49783.5859 - val_mae: 49783.5859
Epoch 51/100
250/250 [==============================] - 0s 403us/step - loss: 49645.9375 - mae: 49645.9375 - val_loss: 49776.0195 - val_mae: 49776.0195
Epoch 52/100
250/250 [==============================] - 0s 403us/step - loss: 49638.1484 - mae: 49638.1484 - val_loss: 49769.6562 - val_mae: 49769.6562
Epoch 53/100
250/250 [==============================] - 0s 411us/step - loss: 49634.7109 - mae: 49634.7109 - val_loss: 49757.8633 - val_mae: 49757.8633
Epoch 54/100
250/250 [==============================] - 0s 402us/step - loss: 49629.1797 - mae: 49629.1797 - val_loss: 49753.1250 - val_mae: 49753.1250
Epoch 55/100
250/250 [==============================] - 0s 602us/step - loss: 49626.4531 - mae: 49626.4531 - val_loss: 49743.8672 - val_mae: 49743.8672
Epoch 56/100
250/250 [==============================] - 0s 406us/step - loss: 49620.0664 - mae: 49620.0664 - val_loss: 49736.6836 - val_mae: 49736.6836
Epoch 57/100
250/250 [==============================] - 0s 406us/step - loss: 49616.0508 - mae: 49616.0508 - val_loss: 49734.1797 - val_mae: 49734.1797
Epoch 58/100
250/250 [==============================] - 0s 403us/step - loss: 49616.8203 - mae: 49616.8203 - val_loss: 49728.2852 - val_mae: 49728.2852
Epoch 59/100
250/250 [==============================] - 0s 404us/step - loss: 49607.0195 - mae: 49607.0195 - val_loss: 49719.1484 - val_mae: 49719.1484
Epoch 60/100
250/250 [==============================] - 0s 408us/step - loss: 49606.6055 - mae: 49606.6055 - val_loss: 49720.0898 - val_mae: 49720.0898
Epoch 61/100
250/250 [==============================] - 0s 402us/step - loss: 49603.5703 - mae: 49603.5703 - val_loss: 49718.2070 - val_mae: 49718.2070
Epoch 62/100
250/250 [==============================] - 0s 405us/step - loss: 49596.1367 - mae: 49596.1367 - val_loss: 49709.7656 - val_mae: 49709.7656
Epoch 63/100
250/250 [==============================] - 0s 436us/step - loss: 49595.0781 - mae: 49595.0781 - val_loss: 49699.7812 - val_mae: 49699.7812
Epoch 64/100
250/250 [==============================] - 0s 405us/step - loss: 49589.2930 - mae: 49589.2930 - val_loss: 49697.2773 - val_mae: 49697.2773
Epoch 65/100
250/250 [==============================] - 0s 403us/step - loss: 49587.3750 - mae: 49587.3750 - val_loss: 49689.9375 - val_mae: 49689.9375
Epoch 66/100
250/250 [==============================] - 0s 407us/step - loss: 49583.4492 - mae: 49583.4492 - val_loss: 49684.2422 - val_mae: 49684.2422
Epoch 67/100
250/250 [==============================] - 0s 410us/step - loss: 49579.7383 - mae: 49579.7383 - val_loss: 49681.8906 - val_mae: 49681.8906
Epoch 68/100
250/250 [==============================] - 0s 406us/step - loss: 49576.1016 - mae: 49576.1016 - val_loss: 49680.5352 - val_mae: 49680.5352
Epoch 69/100
250/250 [==============================] - 0s 402us/step - loss: 49579.4961 - mae: 49579.4961 - val_loss: 49667.8945 - val_mae: 49667.8945
Epoch 70/100
250/250 [==============================] - 0s 405us/step - loss: 49569.0234 - mae: 49569.0234 - val_loss: 49660.9570 - val_mae: 49660.9570
Epoch 71/100
250/250 [==============================] - 0s 404us/step - loss: 49568.2695 - mae: 49568.2695 - val_loss: 49658.3125 - val_mae: 49658.3125
Epoch 72/100
250/250 [==============================] - 0s 407us/step - loss: 49567.2422 - mae: 49567.2422 - val_loss: 49651.4492 - val_mae: 49651.4492
Epoch 73/100
250/250 [==============================] - 0s 407us/step - loss: 49560.1055 - mae: 49560.1055 - val_loss: 49645.8945 - val_mae: 49645.8945
Epoch 74/100
250/250 [==============================] - 0s 405us/step - loss: 49556.1016 - mae: 49556.1016 - val_loss: 49643.4805 - val_mae: 49643.4805
Epoch 75/100
250/250 [==============================] - 0s 400us/step - loss: 49555.2188 - mae: 49555.2188 - val_loss: 49637.6562 - val_mae: 49637.6562
Epoch 76/100
250/250 [==============================] - 0s 400us/step - loss: 49550.3086 - mae: 49550.3086 - val_loss: 49638.8398 - val_mae: 49638.8398
Epoch 77/100
250/250 [==============================] - 0s 402us/step - loss: 49547.2461 - mae: 49547.2461 - val_loss: 49636.2070 - val_mae: 49636.2070
Epoch 78/100
250/250 [==============================] - 0s 403us/step - loss: 49548.1250 - mae: 49548.1250 - val_loss: 49622.6641 - val_mae: 49622.6641
Epoch 79/100
250/250 [==============================] - 0s 401us/step - loss: 49543.9805 - mae: 49543.9805 - val_loss: 49615.7734 - val_mae: 49615.7734
Epoch 80/100
250/250 [==============================] - 0s 402us/step - loss: 49539.9844 - mae: 49539.9844 - val_loss: 49611.5234 - val_mae: 49611.5234
Epoch 81/100
250/250 [==============================] - 0s 404us/step - loss: 49537.7812 - mae: 49537.7812 - val_loss: 49609.2461 - val_mae: 49609.2461
Epoch 82/100
250/250 [==============================] - 0s 409us/step - loss: 49535.8438 - mae: 49535.8438 - val_loss: 49606.1914 - val_mae: 49606.1914
Epoch 83/100
250/250 [==============================] - 0s 401us/step - loss: 49530.8984 - mae: 49530.8984 - val_loss: 49608.1562 - val_mae: 49608.1562
Epoch 84/100
250/250 [==============================] - 0s 399us/step - loss: 49529.5078 - mae: 49529.5078 - val_loss: 49605.6055 - val_mae: 49605.6055
Epoch 85/100
250/250 [==============================] - 0s 401us/step - loss: 49527.7461 - mae: 49527.7461 - val_loss: 49600.6641 - val_mae: 49600.6641
Epoch 86/100
250/250 [==============================] - 0s 400us/step - loss: 49523.5312 - mae: 49523.5312 - val_loss: 49593.5742 - val_mae: 49593.5742
Epoch 87/100
250/250 [==============================] - 0s 401us/step - loss: 49522.4023 - mae: 49522.4023 - val_loss: 49586.2852 - val_mae: 49586.2852
Epoch 88/100
250/250 [==============================] - 0s 401us/step - loss: 49519.0156 - mae: 49519.0156 - val_loss: 49584.4453 - val_mae: 49584.4453
Epoch 89/100
250/250 [==============================] - 0s 401us/step - loss: 49517.0234 - mae: 49517.0234 - val_loss: 49582.5234 - val_mae: 49582.5234
Epoch 90/100
250/250 [==============================] - 0s 398us/step - loss: 49515.7422 - mae: 49515.7422 - val_loss: 49578.3867 - val_mae: 49578.3867
Epoch 91/100
250/250 [==============================] - 0s 402us/step - loss: 49510.5156 - mae: 49510.5156 - val_loss: 49571.6406 - val_mae: 49571.6406
Epoch 92/100
250/250 [==============================] - 0s 403us/step - loss: 49507.6562 - mae: 49507.6562 - val_loss: 49573.8164 - val_mae: 49573.8164
Epoch 93/100
250/250 [==============================] - 0s 408us/step - loss: 49507.0781 - mae: 49507.0781 - val_loss: 49570.4688 - val_mae: 49570.4688
Epoch 94/100
250/250 [==============================] - 0s 402us/step - loss: 49506.2305 - mae: 49506.2305 - val_loss: 49571.8438 - val_mae: 49571.8438
Epoch 95/100
250/250 [==============================] - 0s 421us/step - loss: 49503.3828 - mae: 49503.3828 - val_loss: 49574.2891 - val_mae: 49574.2891
Epoch 96/100
250/250 [==============================] - 0s 420us/step - loss: 49500.4375 - mae: 49500.4375 - val_loss: 49565.5781 - val_mae: 49565.5781
Epoch 97/100
250/250 [==============================] - 0s 421us/step - loss: 49497.6758 - mae: 49497.6758 - val_loss: 49562.8047 - val_mae: 49562.8047
Epoch 98/100
250/250 [==============================] - 0s 445us/step - loss: 49496.9688 - mae: 49496.9688 - val_loss: 49548.4414 - val_mae: 49548.4414
Epoch 99/100
250/250 [==============================] - 0s 404us/step - loss: 49492.9805 - mae: 49492.9805 - val_loss: 49564.6367 - val_mae: 49564.6367
Epoch 100/100
250/250 [==============================] - 0s 401us/step - loss: 49489.9297 - mae: 49489.9297 - val_loss: 49558.2539 - val_mae: 49558.2539

In [17]:
# Load tensorborad extension
%load_ext tensorboard

In [19]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6007 (pid 85716), started 0:00:12 ago. (Use '!kill 85716' to kill it.)

In [20]:
# Evaluating on test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test Loss: {test_loss} Test MAE: {test_mae}')

63/63 [==============================] - 0s 274us/step - loss: 49558.2539 - mae: 49558.2539
Test Loss: 49558.25390625 Test MAE: 49558.25390625

In [21]:
# Saving the model
model.save('regression_model.h5')

/Users/aditya/Library/CloudStorage/OneDrive-Personal/AIR OneDrive/GenAI/ANN Churn Classification/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(